* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
}

a {
    color: var(--white);
    text-decoration: none;
}

body {
    background-color: var(--main);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}



.search {}

.search-item {
    display: inline;
    margin-inline: 10px;
}

.search-item input {}

.search input[type='number'] {
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--back);
    color: var(--white);
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: var(--white);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--white);
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--white);
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--white);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--white);
}

::placeholder {
    /* Most modern browsers support this now. */
    color: var(--white);
}

.search-button {
    background-color: var(--back);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--purple);
}

.search-refresh {
    font-size: 24px;
}

.profiles {
    margin-top: 20px;
    padding-bottom: 15px;
}

.profile {
    display: flex;
    justify-content: space-between;
    background-color: #141414;
    align-items: center;
    padding-inline: 15px;
    margin-bottom: 5px;
}

.profile-item {
    margin-inline: 10px;
}

.profile-img {
    width: 60px;
}